---
import Page from "@layouts/Page.astro";
---
<Page title="Portfolio">
    <section id="hats">
        <h2 class="section">Hats</h2>
        <div class="images">
            <img src="portfolio/hats/propeller_hat.png">
            <img src="portfolio/hats/jotaro_hat.png">
            <img src="portfolio/hats/witch_hat.png">
            <img src="portfolio/hats/sailor_hat.png">
            <img src="portfolio/hats/frog_bucket_hat.png">
            <img src="portfolio/hats/clown_wig.png">
            <img src="portfolio/hats/duck_hat.png">
            <img src="portfolio/hats/krusty_krab_hat.png">
            <img src="portfolio/hats/straw_hat.png">
            <img src="portfolio/hats/disguise.png">
            <img src="portfolio/hats/sunglasses.png">
            <img src="portfolio/hats/mario_hat.png">
            <img src="portfolio/hats/gold_crown_hat.png">
            <img src="portfolio/hats/plunger_hat.png">
            <img src="portfolio/hats/pom_hat.png">
            <img src="portfolio/hats/chef_hat.png">
            <img src="portfolio/hats/cowboy_hat.png">
            <img src="portfolio/hats/hard_hat.png">
            <img src="portfolio/hats/kirby.png">
            <img src="portfolio/hats/mushroom.png">
        </div>
    </section>

    <section id="emojis">
        <h2 class="section">Emojis</h2>
        <div class="images">
            <img src="portfolio/emojis.png">
            <img src="portfolio/sf_emoji_grid.png">
        </div>
    </section>

    <section id="hideaway">
        <h2 class="section">Hideaway</h2>
        <div class="images">
            <img src="portfolio/hdwy_sprites.png">
            <img src="portfolio/hdwy_hotbar.png">
        </div>
    </section>

    <style>
        .images img {
            max-height: 20em;
            margin-bottom: 1.5em;
        }

        #hats img {
            max-height: 10em;
        }
    </style>
</Page>
